:root {
  --input-linear: linear-gradient(100deg, #000000, #000020);
  --input-menu: linear-gradient(10deg, #000000, #08041b);
  --input-error: red;
  --button-linear: linear-gradient(50deg, #4d0E89, #DA2864);
  --button-disabled: #acacac;
  --button-success: rgb(18, 151, 107);
  --white: #fff;
  --black: #303030;
  --gray: #929292;
  --light-gray: #cfcfcf;
  --light-blue: #1dacd6;
  --border-height: 1px;
}

body {
  text-align:center;
  font-family:baskerville;color:#ffffff;
  background:  var(--input-linear);
  margin: 0;
  line-height: 1,5;
  }

h1{
    font-size: 60px;
    font-weight: 300; 
    color: var(--light-blue);
  }
  
h3{
  color:#2a0074;
  font-size: 20px;
}

.titulo-verde{
  color:#04ff9f;
  font-size:22px;
  mangin-top: 100px;
}

.titulo-vermelho{
  color:#FF9E9E;
  mangin-top: 100px;
}

.titulo-amarelo {
  color:#ffe36d;
  mangin-top: 100px;
}

section{
    width:80%;
    margin:0 auto;
}

section section{
    width:100%;
}

p{
  line-height: 1,5;
  font-size: 18px;
}

img{
  width: 50%;
}

img.1{
  width: 20%
}

h5{
  font-style:italic;
  font-size: 25px;
  max-width: 100%;
  background: var(--input-menu);
  height: var(--border-height);
  background: var(--button-linear);
  transition: .3s ease-in-out;
  margin-bottom: 80px;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  heigth: 100px;
}

ul{
  list-style: none;
  line-height: 2
  padding-left: 0;
  }

a{
  text-decoration:none;
  color:#99ffff;
  font-weight: 400;
 }

.principal{
  background: var(--input-menu);
  height: 40px;
  max-width: 100%;
  margin: 20 auto;
  height: var(--border-height);
  background: var(--button-linear);
  transition: .3s ease-in-out;
  margin-bottom: 100px;
  margin-top: 60px;
}

.principal a{
  font-color: #FFF;
  font-style: underline;
  font-weight: normal;
}

.principal li{
  display: inline-block;
  line-height: 2.5;
  margin: 0 45px;
 }

.login__container {
  min-height: 400px;
  width: 800px;
  box-sizing: border-box;
  padding: 32px;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: content-box-box;
  justify-content: center;
 
}

.login__title {
  margin-bottom: 32px;
  font-size: 40px;
  color: var(--light-blue);
  align-items: content-box;
}

.login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__input {
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--input-linear);
  color: var(--white);
  padding-left: 8px;
  border: unset;
  outline: none;
  position: relative;
}

.login__input-border {
  height: var(--border-height);
  width: 100%;
  margin-bottom: 16px;
  background: var(--light-gray);
  transition: .3s ease-in-out;
}

.login__input-border::after {
  content: '';
  display: block;
  height: var(--border-height);
  width: 0;
  margin-bottom: 16px;
  background: var(--button-linear);
  transition: .3s ease-in-out;
}

.login__input:focus + .login__input-border::after {
  width: 100%;
}

.login__input-border.error {
  background: var(--input-error);
}

.login__input-border.error::after {
  background: var(--input-error);
}

.login__submit {
  height: 48px;
  width: 100%;
  padding-left: 8px;
  outline: none;
  position: relative;
  background: var(--button-linear);
  background-size: 200%;
  margin-bottom: 15px;
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  border: unset;
  border-radius: px;
  cursor: pointer;
  transition: 0.5s ease;
}

.login__submit:disabled {
  background: var(--button-disabled);
  cursor: not-allowed;
}

.login__submit:hover {
  background-position: right;
}

.login__submit.success {
  background: var(--button-success);
}

.login__submit.error {
  background: var(--input-error);
}

.login__reset {
  font-size: 12px;
  color: var(--gray);
  text-decoration: none;
}

 